/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*/
/* HTML5 display-role reset for older browsers */
/*
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
-----------------reset in Bootstrap----------------*/
/* ----------------------------- End of reset --------------------------- */

body {
	background-image: url("../img/13-old-parchment-background-lrg.jpg");
/*	background-size: 100%;
	background-repeat: repeat; */
	font-family: Arial, Helvetica, sans-serif;
	color: #4c4024;
}

.container {
	background-color: #f4e5c6;
	border: 1px solid #000;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 40px 40px 20px 40px;
}

#name {
	font-family: Raleway, Arial, Helvetica, sans-serif;
	font-size: 40px;
	font-weight: 100;
	font-style: normal;
}

.button {
	color: #4c4024;
}

#contact a {
	float: right;
}

#contact a:hover {
	text-decoration: none;
}

.tabbable {
	margin-top: 40px;
}

.nav-tabs {
	border-color: #4c4024;
}

.nav-tabs > li > a {
	border-bottom-color: #4c4024;         /* Necessary to retain bottom border on non-active tab after the background color is changed */
	color: #988048;
}

.nav-tabs > li > a:link {
	background-color: #f4e5c6;
}

.nav-tabs > li > a:hover {
	background-color: #f4e5c6;
	border-color: #988048;
}

.nav-tabs > .active > a {
	border-top-color: #4c4024;
	border-right-color: #4c4024;
	border-left-color: #4c4024;
}

.nav-tabs > .active > a:hover {
	background-color: #f4e5c6;
	border-top-color: #4c4024;
	border-right-color: #4c4024;
	border-left-color: #4c4024;
}

.project-tab-desc {
	text-align: center;
}

.project-row {
	position: relative;
  margin-top: 10px;
  margin-bottom: 40px;
  width: 940px;
  height: 450px;
}

.bottom-row {
	margin-bottom: 0;
}

.project-box {
	position: absolute;
  box-sizing: border-box;
	width: 400px;
	height: 450px;
	padding: 10px;
  border: 1px solid #B4A992;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #B4A992;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#B4A992));
  background-image: -webkit-linear-gradient(#ffffff, #B4A992);
  background-image: -moz-linear-gradient(#ffffff, #B4A992);
  background-image: -o-linear-gradient(#ffffff, #B4A992);
  background-image: linear-gradient(#ffffff, #B4A992);
  background-clip: padding-box;
}

.left-box {
	left: 40px;
}

.right-box {
	right: 40px;
}

.lb-image {  /* Fix Lightbox width conflict with Bootstrap */
max-width: inherit;
}

.project-title {
	text-align: center;
}

.project-thumb {
	margin-top: 10px;
}

.project-desc {
	height: 100px;
	margin-top: 10px;
}

.project-buttons {
	margin-top: 5px;
	height: 30px;
	width: 378px;
}

.project-buttons a:hover {
	text-decoration: none;
}

.web-button {
	position: absolute;
	left: 25px;
}

.code-button {
	position: absolute;
	right: 25px;
}

.project-hash-tags {
	text-align: center;
	margin-top: 12px;
	margin-left: auto;
	margin-right: auto;
}

.project-hash-tags span {
  background-color: #eee;
  color: #666;
  border: 1px solid #eee;
  padding: 2px;
  border-radius: 2px;
}

div[class="tooltip-inner"] {  /* Bootstrap tooltips */
	font-size: 14px;
}

#about-me img {
	float: left;
	margin-right: 25px;
}

.footer {
  margin-top: 40px;
  border-top: 1px solid #4c4024;
}

.footer-list {
	margin-top: 10px;
}

.footer-list a:hover {
  cursor: pointer;
}

.footer-link {
	display: inline;
	margin-right: 20px;
	color: #988048;
}








